@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {

    font-family: BlackOpsOne;
    font-weight: 700;
    font-size: large;
    word-spacing: 1px;
}
  
body {
    background-color: rgba(95, 0, 0);
}
